.card {
    /*background-color: white;*/
    /*border: 1px solid var(--color-blue-dark);*/

    /*border-radius: 12px;*/
    padding: 10px;
    /*margin: 10px;*/
    /*margin-bottom: 0;*/

    font-size: var(--font-size-main);

    cursor: pointer;

    /*box-shadow: var(--box-shadow);*/

    /*transition: background-color .2s, color .2s*/
}

.card .title {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.card .circle.green {
    border: solid 2px var(--color-green-dark);
    background-color: var(--color-green);
}

.card .circle.red {
    border: solid 2px var(--color-red-dark);
    background-color: var(--color-red);
}

.card div.title-text {
}

.card div.text {
    padding-top: 5px;
}

.help-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
