.form {
    /*width: 300px;*/
    font-size: var(--font-size-big);
    /*font-weight: bold;*/
    /*background-color: white;*/

    /*padding: 20px;*/
    /*margin: 0 auto;*/


}

.form div {
    padding: 10px;
    box-shadow: var(--box-shadow-inset);
    border-radius: 6px;

    text-align: center;

    color: var(--color-gray-dark);
    background-color: white;

    margin-bottom: 20px;

    cursor: pointer;
    transition: box-shadow 1s;
}

.form div:hover {
    /*box-shadow: 0 0;*/
}

.form div:last-child {
    margin-bottom: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--color-blue-dark);
    color: black;

}