.form {
    /*width: 300px;*/
    font-size: var(--font-size-big);
    /*font-weight: bold;*/
    /*background-color: white;*/

    /*padding: 20px;*/
    /*margin: 0 auto;*/


}

.form > div {
    padding: 10px;
    border-radius: 6px;

    text-align: center;

    color: var(--color-black);
    background-color: var(--color-white-gray);

    margin-bottom: 20px;

    /*cursor: pointer;*/
    border: 2px solid var(--color-white-gray);
    transition: box-shadow 1s, border 1s;
}

.form > div:hover {
    /*box-shadow: 0 0;*/
}

.form > div:last-child {
    margin-bottom: 0;
}

.form > div.input:hover {
    box-shadow: var(--box-shadow-inset);
    cursor: text;
    border: 2px solid var(--color-blue-dark);
}

.form > div.button:hover {
    box-shadow: var(--box-shadow);
    cursor: pointer;
    /*border: 2px solid var(--color-green-dark);*/
}