#modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33%;
    overflow: scroll;

    /*height: 100%;*/

    /*font-weight: 600;*/

    font-size: var(--font-size-big);

    background-color: var(--color-blue);

    z-index: 2;

    box-sizing: border-box;
    /*padding: 20px;*/

    box-shadow: var(--box-shadow);

    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*position: relative;*/
    color: var(--color-gray-black);
    /*cursor: default;*/
}

#modal div.modal-title {
    font-size: var(--font-size-giant);
    font-weight: bold;
    padding-bottom: 10px;

    /*margin-bottom: 20px;*/

    color: var(--color-white-gray);
}

#modal div.modal-text {
    padding-bottom: 20px;
}

#modal-buttons {
    position: absolute;
    bottom: 0;
    /*right: 0;*/
    /*left: 0*/
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    text-align: right;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    /*line-height: var(--font-size-small);*/
    color: var(--color-gray-black);
    /*line-height: ;*/

    cursor: pointer;
}

.hide {
    display: none !important;
}
