#content {
    font-size: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*overflow: scroll;*/


    /*min-width: 100px;*/
    /*height: 100%;*/

    /*overflow: scroll;*/

    /*justify-content: space-between;*/

    z-index: 2;
    /*border-left: 1px solid var(--color-blue);*/

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /*transition: width .2s;*/
}

#content #content-list {
    overflow: scroll;
}

#content #content-list > div {
    padding: 10px;
}

#content input {
    padding: 10px;
    margin-top: auto;
}

#content #content-list #main-text {
    border-bottom: 1px solid var(--color-gray);
}

#content #content-list #main-image {
    padding: 0;
    max-height: 100px;
    overflow: hidden;
    /*align-items: center;*/
}

#content #content-list #main-image img {
    width: 100%;
}

#content #content-list > div:not(.help-row):hover {
    background-color: ghostwhite;
}

#content .link span {
    cursor: pointer;
}

/*TODO*/
#content .link span:hover {
    opacity: .5;
}
