#graph {
    /*background-color: lightcoral;*/
}

.scaled {
    /*transform: scale(0.8); !* Equal to scaleX(0.7) scaleY(0.7) *!*/
    /*background-color: pink;*/
    -webkit-transform: scale(.66);
    -webkit-transform-origin: 0 0;
    /*width: 142%;*/
}

line {
    pointer-events: none;
    stroke: var(--color-gray-dark);
    stroke-opacity: 0.1;
}

g {
}

circle {
    fill: var(--color-white);
    stroke: var(--color-gray);
    stroke-width: 1px;
}

circle.active {
    stroke: var(--color-green-dark);
    fill: var(--color-green);
}

circle.main {
    stroke: var(--color-blue-dark);
    fill: var(--color-blue);
}

circle:hover {
    cursor: pointer;
    stroke: var(--color-green-dark);
    fill: var(--color-green);
}

circle.active:hover {
    stroke: var(--color-red-dark);
    fill: var(--color-red);
}

circle:hover + text {
    fill-opacity: 1;
    z-index: 2;
}

text {
    position: relative;
    fill: black;
    fill-opacity: 0.1;
    /*visibility: hidden;*/
    pointer-events: none;
    z-index: 1;

    /*cursor: default;*/
}

text.active:hover {
    fill-opacity: 0.5;
    cursor: pointer;
}

text.main {
    fill-opacity: 1;
}

text.active {
    pointer-events: auto;
    fill-opacity: 1;
}
