html, body {
    margin: 0;

    /*--line-height: 16px;*/

    /*--font-size-small: 12px;*/
    --font-size-main: 12px;
    --font-size-big: 16px;

    /*color: red;*/

    --color-black: black;

    /*--color-blue-light: rgb(110, 202, 227);*/
    --color-blue: #16b9e7;
    --color-blue-dark: #0e7d9c;
    --color-blue-transparent: rgba(22, 185, 231, 0.8);
    --color-blue-transparent-full: rgba(22, 185, 231, 0.2);

    --color-green: #16ee16;
    --color-green-dark: #13a113;

    /*--color-purple: #e21fd8;*/
    /*--color-purple-dark: rgba(154, 32, 166, 0.78);*/

    --color-yellow: #e2e12c;
    --color-yellow-dark: #717212;

    --color-orange: #e2b152;
    --color-orange-dark: #725936;

    --color-red: rgba(231, 33, 4, 0.51);
    --color-red-dark: #c00715;

    --color-white: white;
    --color-white-gray: #e8e8e8;
    --color-gray: #bfbfbf;
    --color-gray-dark: #777;
    --color-gray-black: #343434;

    --time-delay-main: .2;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --box-shadow-inset: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    --box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-main);

    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: var(--color-blue-dark)
}

a:visited {
    color: var(--color-gray)
}

div {
    /*line-height: var(--line-height);*/
}

/*TODO move*/
#top-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 10px;
    top: 10px;

    z-index: 2;
}

#top-menu span {
    margin: 0 5px;
}

#top-menu div:hover {
    /*cursor: pointer;*/
    opacity: .5;
}

/*TODO button class*/
span.button {
    margin: 0 5px;
}

label.button {
    cursor: pointer;
    color: var(--color-gray)
}

span.button.simple {
    margin: 0;
}

span.text {
    color: #adadad;
}

span.button:hover {
    cursor: pointer;
    opacity: .5;
}

/*TODO temp*/
#user-menu {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 10px;
    bottom: 10px;

    color: #adadad;
    opacity: 0;
}

#user-menu:hover {
    opacity: 1;
}

#user-menu div {
    padding-right: 10px;
}

/*TODO temp*/
.info {
    background: var(--color-blue);
}
.warning {
    background: var(--color-red);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


/*#design {*/
/*    width: 0;*/
/*    height: 100%;*/

/*    !*background-color: var(--color-blue);*!*/
/*}*/

/*#design div {*/
/*    !*position: relative;*!*/
/*    padding-top: 100px;*/
/*    width: 100px;*/
/*    height: 100%;*/
/*    background-color: var(--color-blue);*/
/*    transform: rotate(15deg);*/

/*    z-index: 1;*/
/*}*/

/*#design div:last-child {*/
/*    padding-top: 0;*/
/*    background-color: var(--color-red-dark);*/
/*    transform: rotate(15deg);*/
/*}*/

.row {
    display: flex;
    justify-content: space-between;
}

#center-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    right: 0;
    background-color: ghostwhite;
    overflow: hidden;

    /*background-image: url('/images/center.png');*/
}

#center-image-circle {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin-left: 300px;
    margin-top: -200px;

    border-radius: 50%;
    background-color: var(--color-blue);
    box-shadow: var(--box-shadow);

    z-index: 2;
}

.center-image-small-circle {
    position: absolute;

    background-color: var(--color-white-gray);
    /*border: 2px solid var(--color-gray);*/
    box-shadow: var(--box-shadow-small);

    border-radius: 50%;

    cursor: pointer;
    transition: box-shadow 1s;
}

.center-image-small-circle:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--color-gray);
}

.center-image-small-circle.active {
    box-shadow: var(--box-shadow);
    background-color: var(--color-gray);
}

#animal {
    position: absolute;
    /*background: url('./web/images/animal.png')  no-repeat center;*/
    /*background-size: cover;*/
    left: 45px;
    top: -35px;
    width: 80px;
}

#center-image-lines {
    width: 100%;
    height: 100%;
}