html, body {
    margin: 0;

    --font-size-main: 12px;
    --font-size-small: 12px;

    --color-blue: #16b9e7;
    --color-blue-dark: #0e7d9c;

    --color-green: #00e200;
    --color-green-dark: #007200;

    --color-red: #f3a24b;
    --color-red-dark: #c0421d;

    --color-white: white;
    --color-gray: #bfbfbf;
    --color-gray-dark: #777;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-main);

    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-blue-dark)
}

a:visited {
    color: var(--color-gray)
}

input {
    font-size: var(--font-size-small);
    margin: 0;
    border: none;
    background-color: var(--color-gray);
}

input::placeholder {
    color: var(--color-blue-dark)
}

:focus {
    outline: none;
}

/*TODO move*/
#zoomButton {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;

    z-index: 2;
}

/*TODO temp*/
#userid {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
