html, body {
    margin: 0;

    --font-size-main: 12px;
    --font-size-small: 12px;

    --color-black: black;

    --color-blue: #16b9e7;
    --color-blue-dark: #0e7d9c;

    --color-green: #00e200;
    --color-green-dark: #007200;

    /*--color-purple: #e21fd8;*/
    /*--color-purple-dark: rgba(154, 32, 166, 0.78);*/

    --color-yellow: #e2e12c;
    --color-yellow-dark: #717212;

    --color-red: rgba(231, 33, 4, 0.51);
    --color-red-dark: #c00715;

    --color-white: white;
    --color-gray: #bfbfbf;
    --color-gray-dark: #777;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-main);

    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-blue-dark)
}

a:visited {
    color: var(--color-gray)
}

input {
    font-size: var(--font-size-small);
    margin: 0;
    border: none;
    background-color: var(--color-gray);

    /*margin-top: auto;*/
}

input::placeholder {
    color: var(--color-blue-dark)
}

:focus {
    outline: none;
}

/*TODO move*/
#topButtons {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;

    z-index: 2;
}

/*TODO temp*/
#userid {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/*TODO temp*/
.info {
    background-color: var(--color-red);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}






.card {
    background-color: white;
    border: 1px solid var(--color-blue-dark);

    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;

    cursor: pointer;
}

.card:hover {
    /*border: 1px solid var(--color-black);*/
    background-color: var(--color-blue-dark) !important;
    color: white;
}

.card .title {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.card .circle {
    width: 10px;
    height: 10px;
    border: solid 2px var(--color-blue-dark);
    background-color: var(--color-blue);
    border-radius: 12px;
    margin: auto 0;
}

.card div.title-text {
    padding-left: 6px;
}

.card div.text {
    padding-top: 5px;
}

.hint {
    text-align: right;
}
